.price-container{
    background-color: var(--psw-c-t-placeholder);
    padding: 10px 20px 15px 20px;
    color: white;
    position: relative;
    .game-informations{
        display: flex;
        flex-direction: column;
        gap: 5px;
        .game-name{
            font-size: 2.2rem;
            font-weight: 500;
        }
        .game-information{
            font-weight: 300;
        }
    }
    .game-price{
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 2.2rem;
        font-weight: 700;
    }
}