.main-container{
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
    .latests-games{
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 0 30px;
    }
}

@media(max-width: 800px){
    .main-container{
        .latests-games{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media(max-width: 500px){
    .main-container{
        .latests-games{
            grid-template-columns: 1fr;
        }
    }
}