<footer class="footer-container">
    <img class="icon-logo" src="./assets/images/logos/playstation-icon-white.png" alt="Icone PlayStation">
    <nav class="footer-navigation">
        <ul class="list site-map">
            <a><li>Suporte</li></a>
            <a><li>Sobre o PlayStation</li></a>
            <a><li>PlayStation Studios</li></a>
            <a><li>Acessibilidade</li></a>
            <a><li>Carreiras</li></a>
        </ul>

        <ul class="list terms-policies">
            <a><li>Termos de uso do site</li></a>
            <a><li>Política de privacidade</li></a>
            <a><li>Avisos de saúde</li></a>
            <a><li>Termos de serviço da PSN</li></a>
        </ul>

        <ul class="list social-medias">
            <a><li>Facebook</li></a>
            <a><li>Twitter</li></a>
            <a><li>YouTube</li></a>
            <a><li>Instagram</li></a>
            <a><li>Aplicativo para Android</li></a>
            <a><li>Aplicativo para iOS</li></a>
        </ul>
    </nav>
</footer>