.footer-container{
    width: 100vw;
    height: auto;
    padding: 40px;
    background-color: var(--psw-c-t-accent-focus);
    display: flex;
    flex-direction: column;
    gap: 30px;
    .icon-logo{
        width: 50px;
    }
    .footer-navigation{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 2rem;
        .list{
            display: flex;
            flex-direction: column;
            gap: 20px;
            li{
                color: white;
            }
            li:hover{
                color: var(--psw-c-t-accent);
            }
        }
    }
}

@media(max-width: 500px){
    .footer-navigation{
        grid-template-columns: 1fr;
    }
}